In [1]:
!pip install simfin

Requirement already satisfied: simfin in c:\users\rabiu\miniconda3\lib\site-packages (1.0.1)
Requirement already satisfied: pandas in c:\users\rabiu\miniconda3\lib\site-packages (from simfin) (2.2.3)
Requirement already satisfied: numpy in c:\users\rabiu\miniconda3\lib\site-packages (from simfin) (2.2.4)
Requirement already satisfied: requests in c:\users\rabiu\miniconda3\lib\site-packages (from simfin) (2.32.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rabiu\miniconda3\lib\site-packages (from pandas->simfin) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rabiu\miniconda3\lib\site-packages (from pandas->simfin) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rabiu\miniconda3\lib\site-packages (from pandas->simfin) (2025.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\rabiu\miniconda3\lib\site-packages (from requests->simfin) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rabiu\miniconda3\lib\site-packages (from requests->simfin) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rabiu\miniconda3\lib\site-packages (from requests->simfin) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rabiu\miniconda3\lib\site-packages (from requests->simfin) (2025.6.15)
Requirement already satisfied: six>=1.5 in c:\users\rabiu\miniconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->simfin) (1.17.0)

In [3]:
import simfin as sf
import pandas as pd

In [5]:
sf.set_api_key('db09ea19-dd4e-4afa-9f93-81dc1c19b416')

In [7]:
sf.set_data_dir('~/simfin_data/')

In [10]:
income_df = sf.load_income(variant = 'quarterly', market = 'us')
income_df

Dataset "us-income-quarterly" on disk (0 days old).
- Loading from disk ...

C:\Users\rabiu\miniconda3\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

                    SimFinId Currency  Fiscal Year Fiscal Period Publish Date  \
Ticker Report Date
A      2020-01-31      45846      USD         2020            Q1   2020-03-03
       2020-04-30      45846      USD         2020            Q2   2020-06-01
       2020-07-31      45846      USD         2020            Q3   2020-09-01
       2020-10-31      45846      USD         2020            Q4   2020-12-18
       2021-01-31      45846      USD         2021            Q1   2021-03-02
...                      ...      ...          ...           ...          ...
ZYXI   2023-09-30     171401      USD         2023            Q3   2023-10-26
       2023-12-31     171401      USD         2023            Q4   2024-03-12
       2024-03-31     171401      USD         2024            Q1   2024-04-30
       2024-06-30     171401      USD         2024            Q2   2024-07-25
       2024-09-30     171401      USD         2024            Q3   2024-10-24

                   Restated Date  Shares (Basic)  Shares (Diluted)  \
Ticker Report Date
A      2020-01-31     2021-03-02     310000000.0       313000000.0
       2020-04-30     2021-06-01     309000000.0       312000000.0
       2020-07-31     2021-09-01     309000000.0       312000000.0
       2020-10-31     2021-09-01     308000000.0       311000000.0
       2021-01-31     2022-03-03     306000000.0       309000000.0
...                          ...             ...               ...
ZYXI   2023-09-30     2024-10-24      35531000.0        36103000.0
       2023-12-31     2024-10-24      33560000.0        33962000.0
       2024-03-31     2025-04-29      32344000.0        32827000.0
       2024-06-30     2025-07-31      31762000.0        32204000.0
       2024-09-30     2024-10-24      31775000.0        32088000.0

                         Revenue  Cost of Revenue  ...  \
Ticker Report Date                                 ...
A      2020-01-31   1.357000e+09     -634000000.0  ...
       2020-04-30   1.238000e+09     -581000000.0  ...
       2020-07-31   1.261000e+09     -592000000.0  ...
       2020-10-31   1.483000e+09     -695000000.0  ...
       2021-01-31   1.548000e+09     -710000000.0  ...
...                          ...              ...  ...
ZYXI   2023-09-30   4.991500e+07       -9553000.0  ...
       2023-12-31   4.728500e+07      -10272000.0  ...
       2024-03-31   4.653100e+07       -9298000.0  ...
       2024-06-30   4.988300e+07       -9971000.0  ...
       2024-09-30   4.996600e+07      -10177000.0  ...

                    Non-Operating Income (Loss)  Interest Expense, Net  \
Ticker Report Date
A      2020-01-31                     4000000.0            -17000000.0
       2020-04-30                    19000000.0            -17000000.0
       2020-07-31                   -11000000.0            -18000000.0
       2020-10-31                   -16000000.0            -18000000.0
       2021-01-31                   -16000000.0            -19000000.0
...                                         ...                    ...
ZYXI   2023-09-30                     -327000.0              -327000.0
       2023-12-31                     -366000.0              -366000.0
       2024-03-31                     -512000.0              -512000.0
       2024-06-30                     -630000.0              -630000.0
       2024-09-30                     -625000.0              -625000.0

                    Pretax Income (Loss), Adj.  Abnormal Gains (Losses)  \
Ticker Report Date
A      2020-01-31                  219000000.0                      NaN
       2020-04-30                  121000000.0                      NaN
       2020-07-31                  219000000.0                      NaN
       2020-10-31                  283000000.0                      NaN
       2021-01-31                  312000000.0                      NaN
...                                        ...                      ...
ZYXI   2023-09-30                    5158000.0                -208000.0
       2023-12-31                    1932000.0                  -1000.0
       2024-03-31                      13000.0                      NaN
       2024-06-30                    1596000.0                  19000.0
       2024-09-30                    3177000.0                      NaN

                    Pretax Income (Loss)  Income Tax (Expense) Benefit, Net  \
Ticker Report Date
A      2020-01-31              219000000                        -22000000.0
       2020-04-30              121000000                        -20000000.0
       2020-07-31              219000000                        -20000000.0
       2020-10-31              283000000                        -61000000.0
       2021-01-31              312000000                        -24000000.0
...                                  ...                                ...
ZYXI   2023-09-30                4950000                         -1356000.0
       2023-12-31                1931000                          -716000.0
       2024-03-31                  13000                            -3000.0
       2024-06-30                1615000                          -398000.0
       2024-09-30                3177000                          -795000.0

                    Income (Loss) from Continuing Operations  \
Ticker Report Date
A      2020-01-31                                  197000000
       2020-04-30                                  101000000
       2020-07-31                                  199000000
       2020-10-31                                  222000000
       2021-01-31                                  288000000
...                                                      ...
ZYXI   2023-09-30                                    3594000
       2023-12-31                                    1215000
       2024-03-31                                      10000
       2024-06-30                                    1217000
       2024-09-30                                    2382000

                    Net Extraordinary Gains (Losses)  Net Income  \
Ticker Report Date
A      2020-01-31                                NaN   197000000
       2020-04-30                                NaN   101000000
       2020-07-31                                NaN   199000000
       2020-10-31                                NaN   222000000
       2021-01-31                                NaN   288000000
...                                              ...         ...
ZYXI   2023-09-30                                NaN     3594000
       2023-12-31                                NaN     1215000
       2024-03-31                                NaN       10000
       2024-06-30                                NaN     1217000
       2024-09-30                                NaN     2382000

                    Net Income (Common)
Ticker Report Date
A      2020-01-31             197000000
       2020-04-30             101000000
       2020-07-31             199000000
       2020-10-31             222000000
       2021-01-31             288000000
...                                 ...
ZYXI   2023-09-30               3594000
       2023-12-31               1215000
       2024-03-31                 10000
       2024-06-30               1217000
       2024-09-30               2382000

[53884 rows x 26 columns]

In [12]:
income_df = sf.load_income(variant = 'quarterly', market = 'us').reset_index()
income_df

Dataset "us-income-quarterly" on disk (0 days old).
- Loading from disk ...

C:\Users\rabiu\miniconda3\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Non-Operating Income (Loss),"Interest Expense, Net","Pretax Income (Loss), Adj.",Abnormal Gains (Losses),Pretax Income (Loss),"Income Tax (Expense) Benefit, Net",Income (Loss) from Continuing Operations,Net Extraordinary Gains (Losses),Net Income,Net Income (Common)
0,A,2020-01-31,45846,USD,2020,Q1,2020-03-03,2021-03-02,310000000.0,313000000.0,...,4000000.0,-17000000.0,219000000.0,NaN,219000000,-22000000.0,197000000,NaN,197000000,197000000
1,A,2020-04-30,45846,USD,2020,Q2,2020-06-01,2021-06-01,309000000.0,312000000.0,...,19000000.0,-17000000.0,121000000.0,NaN,121000000,-20000000.0,101000000,NaN,101000000,101000000
2,A,2020-07-31,45846,USD,2020,Q3,2020-09-01,2021-09-01,309000000.0,312000000.0,...,-11000000.0,-18000000.0,219000000.0,NaN,219000000,-20000000.0,199000000,NaN,199000000,199000000
3,A,2020-10-31,45846,USD,2020,Q4,2020-12-18,2021-09-01,308000000.0,311000000.0,...,-16000000.0,-18000000.0,283000000.0,NaN,283000000,-61000000.0,222000000,NaN,222000000,222000000
4,A,2021-01-31,45846,USD,2021,Q1,2021-03-02,2022-03-03,306000000.0,309000000.0,...,-16000000.0,-19000000.0,312000000.0,NaN,312000000,-24000000.0,288000000,NaN,288000000,288000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53879,ZYXI,2023-09-30,171401,USD,2023,Q3,2023-10-26,2024-10-24,35531000.0,36103000.0,...,-327000.0,-327000.0,5158000.0,-208000.0,4950000,-1356000.0,3594000,NaN,3594000,3594000
53880,ZYXI,2023-12-31,171401,USD,2023,Q4,2024-03-12,2024-10-24,33560000.0,33962000.0,...,-366000.0,-366000.0,1932000.0,-1000.0,1931000,-716000.0,1215000,NaN,1215000,1215000
53881,ZYXI,2024-03-31,171401,USD,2024,Q1,2024-04-30,2025-04-29,32344000.0,32827000.0,...,-512000.0,-512000.0,13000.0,NaN,13000,-3000.0,10000,NaN,10000,10000
53882,ZYXI,2024-06-30,171401,USD,2024,Q2,2024-07-25,2025-07-31,31762000.0,32204000.0,...,-630000.0,-630000.0,1596000.0,19000.0,1615000,-398000.0,1217000,NaN,1217000,1217000
53883,ZYXI,2024-09-30,171401,USD,2024,Q3,2024-10-24,2024-10-24,31775000.0,32088000.0,...,-625000.0,-625000.0,3177000.0,NaN,3177000,-795000.0,2382000,NaN,2382000,2382000

In [13]:
cashflow_df = sf.load_cashflow(variant = 'quarterly', market = 'us').reset_index()
cashflow_df

Dataset "us-cashflow-quarterly" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

C:\Users\rabiu\miniconda3\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Change in Long Term Investment,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Dividends Paid,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
0,A,2020-01-31,45846,USD,2020,Q1,2020-03-03,2021-03-02,310000000.0,313000000.0,...,-59000000,-34000000.0,NaN,NaN,-35000000.0,-56000000.0,56000000.0,-28000000.0,-61000000.0,-156000000
1,A,2020-04-30,45846,USD,2020,Q2,2020-06-01,2021-03-02,309000000.0,312000000.0,...,313000000,-33000000.0,NaN,NaN,-53000000.0,-55000000.0,25000000.0,-126000000.0,-156000000.0,97000000
2,A,2020-07-31,45846,USD,2020,Q3,2020-09-01,2021-06-01,309000000.0,312000000.0,...,290000000,-24000000.0,NaN,NaN,-32000000.0,-56000000.0,-161000000.0,-9000000.0,-231000000.0,35000000
3,A,2020-10-31,45846,USD,2020,Q4,2020-12-18,2021-09-01,308000000.0,311000000.0,...,377000000,-27000000.0,NaN,NaN,-27000000.0,-55000000.0,35000000.0,-246000000.0,-269000000.0,83000000
4,A,2021-01-31,45846,USD,2021,Q1,2021-03-02,2022-03-03,306000000.0,309000000.0,...,238000000,-41000000.0,NaN,NaN,-42000000.0,-59000000.0,134000000.0,-319000000.0,-316000000.0,-111000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53881,ZYXI,2023-09-30,171401,USD,2023,Q3,2023-10-26,2024-07-25,35531000.0,36103000.0,...,8893000,-196000.0,NaN,NaN,-10006000.0,0.0,-41000.0,-14933000.0,-15119000.0,-16232000
53882,ZYXI,2023-12-31,171401,USD,2023,Q4,2024-03-12,2024-10-24,33560000.0,33962000.0,...,6188000,-576000.0,NaN,NaN,9424000.0,-2000.0,-33000.0,-13469000.0,-13550000.0,2062000
53883,ZYXI,2024-03-31,171401,USD,2024,Q1,2024-04-30,2025-04-29,32344000.0,32827000.0,...,2068000,-153000.0,NaN,NaN,-153000.0,-3000.0,-123000.0,-13267000.0,-13633000.0,-11718000
53884,ZYXI,2024-06-30,171401,USD,2024,Q2,2024-07-25,2025-04-29,31762000.0,32204000.0,...,1134000,-137000.0,NaN,NaN,-137000.0,0.0,-498000.0,-2345000.0,-2962000.0,-1965000
53885,ZYXI,2024-09-30,171401,USD,2024,Q3,2024-10-24,2025-07-31,31775000.0,32088000.0,...,7074000,-72000.0,NaN,NaN,-72000.0,-6000.0,-55000.0,0.0,-268000.0,6734000

In [14]:
balance_df = sf.load_balance(variant = 'quarterly', market = 'us').reset_index()
balance_df

Dataset "us-balance-quarterly" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

C:\Users\rabiu\miniconda3\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Short Term Debt,Total Current Liabilities,Long Term Debt,Total Noncurrent Liabilities,Total Liabilities,Share Capital & Additional Paid-In Capital,Treasury Stock,Retained Earnings,Total Equity,Total Liabilities & Equity
0,A,2020-01-31,45846,USD,2020,Q1,2020-03-03,2020-03-03,310000000.0,313000000.0,...,675000000.0,1.892000e+09,1.787000e+09,2.761000e+09,4.653000e+09,5.296000e+09,NaN,73000000.0,4.848000e+09,9501000000
1,A,2020-04-30,45846,USD,2020,Q2,2020-06-01,2020-06-01,309000000.0,312000000.0,...,700000000.0,1.945000e+09,1.788000e+09,2.742000e+09,4.687000e+09,5.291000e+09,NaN,15000000.0,4.768000e+09,9455000000
2,A,2020-07-31,45846,USD,2020,Q3,2020-09-01,2020-09-01,309000000.0,312000000.0,...,40000000.0,1.314000e+09,2.283000e+09,3.251000e+09,4.565000e+09,5.327000e+09,NaN,130000000.0,4.981000e+09,9546000000
3,A,2020-10-31,45846,USD,2020,Q4,2020-12-18,2021-12-17,308000000.0,311000000.0,...,75000000.0,1.467000e+09,2.284000e+09,3.287000e+09,4.754000e+09,5.314000e+09,NaN,81000000.0,4.873000e+09,9627000000
4,A,2021-01-31,45846,USD,2021,Q1,2021-03-02,2021-03-02,306000000.0,309000000.0,...,314000000.0,1.687000e+09,2.185000e+09,3.183000e+09,4.870000e+09,5.269000e+09,NaN,4000000.0,4.804000e+09,9674000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53879,ZYXI,2023-09-30,171401,USD,2023,Q3,2023-10-26,2023-10-26,35531000.0,36103000.0,...,NaN,1.984300e+07,5.737500e+07,7.300400e+07,9.284700e+07,9.057700e+07,-57560000.0,25565000.0,5.858200e+07,151429000
53880,ZYXI,2023-12-31,171401,USD,2023,Q4,2024-03-12,2025-03-11,33560000.0,33962000.0,...,NaN,1.853200e+07,5.760500e+07,7.224300e+07,9.077500e+07,9.091100e+07,-71562000.0,26780000.0,4.612900e+07,136904000
53881,ZYXI,2024-03-31,171401,USD,2024,Q1,2024-04-30,2024-04-30,32344000.0,32827000.0,...,NaN,2.175500e+07,5.783900e+07,7.137000e+07,9.312500e+07,9.129100e+07,-84981000.0,26790000.0,3.310000e+07,126225000
53882,ZYXI,2024-06-30,171401,USD,2024,Q2,2024-07-25,2024-07-25,31762000.0,32204000.0,...,NaN,1.823800e+07,5.807800e+07,7.086100e+07,8.909900e+07,9.199500e+07,-87186000.0,28007000.0,3.281600e+07,121915000
53883,ZYXI,2024-09-30,171401,USD,2024,Q3,2024-10-24,2024-10-24,31775000.0,32088000.0,...,NaN,1.986800e+07,5.832000e+07,7.041800e+07,9.028600e+07,9.257000e+07,-87186000.0,30389000.0,3.577300e+07,126059000

In [16]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53884 entries, 0 to 53883
Data columns (total 28 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Ticker                                    53884 non-null  object
 1   Report Date                               53884 non-null  datetime64[ns]
 2   SimFinId                                  53884 non-null  int64
 3   Currency                                  53884 non-null  object
 4   Fiscal Year                               53884 non-null  int64
 5   Fiscal Period                             53884 non-null  object
 6   Publish Date                              53884 non-null  datetime64[ns]
 7   Restated Date                             53884 non-null  datetime64[ns]
 8   Shares (Basic)                            53606 non-null  float64
 9   Shares (Diluted)                          53452 non-null  float64
 10  Revenue                                   48308 non-null  float64
 11  Cost of Revenue                           42416 non-null  float64
 12  Gross Profit                              42431 non-null  float64
 13  Operating Expenses                        53801 non-null  float64
 14  Selling, General & Administrative         51456 non-null  float64
 15  Research & Development                    25857 non-null  float64
 16  Depreciation & Amortization               21936 non-null  float64
 17  Operating Income (Loss)                   53881 non-null  float64
 18  Non-Operating Income (Loss)               53222 non-null  float64
 19  Interest Expense, Net                     47010 non-null  float64
 20  Pretax Income (Loss), Adj.                53883 non-null  float64
 21  Abnormal Gains (Losses)                   29484 non-null  float64
 22  Pretax Income (Loss)                      53884 non-null  int64
 23  Income Tax (Expense) Benefit, Net         42525 non-null  float64
 24  Income (Loss) from Continuing Operations  53884 non-null  int64
 25  Net Extraordinary Gains (Losses)          3520 non-null   float64
 26  Net Income                                53884 non-null  int64
 27  Net Income (Common)                       53884 non-null  int64
dtypes: datetime64[ns](3), float64(16), int64(6), object(3)
memory usage: 11.5+ MB

In [18]:
cashflow_df = sf.load_cashflow(variant = 'annual', market = 'us').reset_index()
cashflow_df

Dataset "us-cashflow-annual" not on disk.
- Downloading ... 100.0%
- Extracting zip-file ... Done!
- Loading from disk ...

C:\Users\rabiu\miniconda3\Lib\site-packages\simfin\load.py:154: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  df = pd.read_csv(path, sep=';', header=0,

Done!

,Ticker,Report Date,SimFinId,Currency,Fiscal Year,Fiscal Period,Publish Date,Restated Date,Shares (Basic),Shares (Diluted),...,Net Cash from Operating Activities,Change in Fixed Assets & Intangibles,Net Change in Long Term Investment,Net Cash from Acquisitions & Divestitures,Net Cash from Investing Activities,Dividends Paid,Cash from (Repayment of) Debt,Cash from (Repurchase of) Equity,Net Cash from Financing Activities,Net Change in Cash
0,A,2020-10-31,45846,USD,2020,FY,2020-12-18,2022-12-21,3.090000e+08,3.120000e+08,...,9.210000e+08,-118000000.0,NaN,NaN,-1.470000e+08,-222000000.0,-45000000.0,-4.090000e+08,-7.170000e+08,59000000
1,A,2021-10-31,45846,USD,2021,FY,2021-12-17,2023-12-20,3.050000e+08,3.070000e+08,...,1.485000e+09,-187000000.0,12000000.0,-547000000.0,-7.490000e+08,-236000000.0,356000000.0,-7.330000e+08,-6.960000e+08,43000000
2,A,2022-10-31,45846,USD,2022,FY,2022-12-21,2024-12-20,3.040000e+08,3.070000e+08,...,1.312000e+09,-291000000.0,9000000.0,-52000000.0,-3.340000e+08,-250000000.0,22000000.0,-1.081000e+09,-1.376000e+09,-434000000
3,A,2023-10-31,45846,USD,2023,FY,2023-12-20,2024-12-20,2.940000e+08,2.960000e+08,...,1.772000e+09,-298000000.0,-3000000.0,-1000000.0,-3.020000e+08,-265000000.0,-43000000.0,-5.080000e+08,-9.380000e+08,537000000
4,A21,2019-12-31,1333027,USD,2019,FY,2020-03-09,2022-04-19,1.853320e+09,2.115376e+09,...,-1.793710e+09,-951253000.0,-98000000.0,-560000000.0,-2.574836e+09,NaN,401357000.0,5.156924e+09,5.655690e+09,1340866000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17666,ZYXI,2022-12-31,171401,USD,2022,FY,2023-03-14,2024-03-12,3.846700e+07,3.912700e+07,...,1.374600e+07,-418000.0,NaN,NaN,-4.180000e+05,-3613000.0,-5451000.0,-2.638000e+07,-3.579600e+07,-22468000
17667,ZYXI,2023-12-31,171401,USD,2023,FY,2024-03-12,2025-03-11,3.555500e+07,3.614200e+07,...,1.775600e+07,-1156000.0,NaN,NaN,-9.660000e+05,-3000.0,46223000.0,-3.783800e+07,7.645000e+06,24435000
17668,NaN,2021-12-31,18728220,USD,2021,FY,2022-04-18,2024-04-08,8.987798e+06,8.987798e+06,...,1.111756e+07,-1347240.0,NaN,NaN,-5.571129e+06,NaN,-774927.0,3.118309e+07,2.554102e+07,30767804
17669,NaN,2022-12-31,18728220,USD,2022,FY,2023-04-18,2025-04-11,1.064890e+07,1.066152e+07,...,-4.085683e+07,-9930106.0,NaN,NaN,-4.931050e+06,NaN,2519301.0,2.140515e+07,2.392445e+07,-21695083
17670,NaN,2023-12-31,18728220,USD,2023,FY,2024-04-08,2025-04-11,5.888507e+06,5.888507e+06,...,-1.886632e+07,-14909825.0,NaN,NaN,-1.490982e+07,NaN,17911307.0,1.029055e+07,2.820186e+07,-5551701

In [ ]:
cashflow_df.info()